<div class="default-router">

<button nz-button [nzType]="'primary'" (click)="showModal()" class="btn"><span>新增</span></button>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>姓名</th>
        <th>时间</th>
        <th>内容</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.createdDate|date:"yyyy-MM-dd" }}</td>
        <td>{{ data.content }}</td>
        <td>{{ data.code }}</td>
        <td>
          <a
            nz-popconfirm
            nzPopconfirmTitle="您确认要删除吗？"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="delete(data)"
            (nzOnCancel)="confirm()"
          >删除</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="updateModel(data)">修改</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="短信模板管理" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm()">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="name">姓名</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input  type="text" nz-input formControlName="name">
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired nzFor="createdDate">时间</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker formControlName="createdDate"></nz-date-picker>
      </nz-form-control>

  <!--    <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker nzShowTime formControlName="createdDate"></nz-date-picker>
      </nz-form-control>-->
    </nz-form-item>



    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="content">内容</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input  type="text" nz-input formControlName="content">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" nzRequired nzFor="code">状态</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input  type="text" nz-input formControlName="code">
      </nz-form-control>
    </nz-form-item>


  </form>
</nz-modal>
